@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comfortaa:wght@300..700&family=Dosis&family=Jura:wght@300..700&family=LXGW+WenKai+Mono+TC&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Neucha&family=Oswald:wght@200..700&family=Permanent+Marker&family=Podkova:wght@400..800&family=Single+Day&family=Tektur:wght@400..900&family=Unbounded:wght@200..900&display=swap');

.love{
    color: rgb(207, 8, 8);
}
*{
    background-color: #8DA7BE;
    font-family: 'Merriweather';
}
header, main, footer{
    display: flex;
    justify-content: center;
}